
.profile-page {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Golos Text", sans-serif;
    color: #090909;
}

.profile-page .profile_image {
    padding: 20px;
}

.profile-page .profile_image_img {
    display: block;
    width: 400px;
    height: 345px;
    background-image: url("../../img/sport_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

/*_______________________________*/

.profile_data {
    display: block;
    padding: 20px;
    width: 500px;
    text-align: left;

    @media (max-width: 1200px) {
        width: 450px;
    }
}

.profile_data .name_and_change {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.profile_data .profile_username {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    word-break: break-all;
}

.profile_data .profile_change-button {
    position: relative;
    top: -1px;
    left: 12px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    padding-right: 25px;
    color: #5A5A5A;
    transition: 0.15s ease;
    text-decoration: none;

    &:hover {
        color: #090909;
    }
}

.profile_data .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
}

.profile_data .contact_item {
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.profile_data .contact_item_icon_e {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../img/email_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}

.profile_data .contact_item_icon_t {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../img/telegram_ikon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}

.profile_data .contact_item_icon_v {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../img/vk_ikon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}

.profile_data .contact_item_icon_d {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../img/discord_ikon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}

.profile_data .contact_item-text {
    font-size: 16px;
}

.profile_description {
    width: 460px;
    margin-top: 22px;
    text-align: left;
    word-break: break-all;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 20px;
}

.profile_description p {
    margin: 10px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}

/*_______________________________*/

.profile_hobbies {
    display: block;
    padding: 20px;

    @media (max-width: 1200px) {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

.profile_hobbies p {
    font-size: 25px;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    color: white;
    background:  linear-gradient(to right, #305897 0%, #c18435 53%, #4F835D 100%);
    border-radius: 10px;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
        width: 170px;
        margin: auto;
    }
}

.profile_hobbies .profile_hobby_l {
    width: 250px;
    height: auto;
    margin: 15px auto;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #FFBB61;
    word-break: break-all;

    @media (max-width: 1200px) {
        width: 235px;
    }
}

.profile_hobbies .profile_hobby_l_def {
    display: none;
}

.profile_hobbies .profile_hobby_s {
    width: 250px;
    height: auto;
    margin: 15px auto;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #95CC7D;
    word-break: break-all;

    @media (max-width: 1200px) {
        width: 235px;
    }
}

.profile_hobbies .profile_hobby_s_def {
    display: none;
}

.profile_hobbies .profile_hobby_w {
    width: 250px;
    height: auto;
    margin: 15px auto;
    font-size: 23px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #3E7BD8;
    word-break: break-all;

    @media (max-width: 1200px) {
        width: 235px;
    }
}

.profile_hobbies .profile_hobby_w_def {
    display: none;
}

/*_______________________________*/

.profile-teams_title {
    display: flex;
    justify-content: space-between;
    width: 400px;
    text-align: left;
    padding: 20px;
    font-size: 25px;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    color: #090909;
    background-color: white;
    border-radius: 10px;
    margin-bottom: -30px;
}

.profile-teams_title_count {
    font-family: "Floripa", sans-serif;
    font-size: 45px;
    color: #a3a0a0;
}

/*_______________________________*/

.login_form_page {
    width: 100%;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.login_form_page p {
    color: #090909;
    font-family: "Floripa", serif;
    font-size: 39px;
    font-weight: 100;
}

.login_form_button {
    display: block;
    margin: 40px auto 10px;
    width: 200px;
    height: 40px;
    text-align: center;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 17px;
    font-weight: 700;
    border: none;

    transition: 0.3s ease;

    &:hover {
        color: white;
        background:  linear-gradient(to right, #3E7BD8 0%, #e89526 53%, #65a34a 100%);
    }
}

.login_form_register-link {
    display: block;
    width: 300px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-decoration: none;
    color: #5A5A5A;
    transition: 0.15s ease;

    &:hover {
        color: #090909;
    }
}

.login_form_change-password-link {
    display: block;
    width: 300px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-decoration: none;
    color: #5A5A5A;
    transition: 0.15s ease;

    &:hover {
        color: #090909;
    }
}
