@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.teams_page {
    width: 100%;
    margin: 30px auto;
    display: block;
    text-align: center;
    font-family: "Golos Text", sans-serif;
    color: #090909;
}

.teams_info_bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
    border-radius: 13px;
    padding: 5px 15px;
    align-items: center;

    @media (max-width: 760px) {
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 5px 8px;
    }
}

.type_team_title {
    display: block;
    font-size: 65px;
    font-family: "Golos Text", sans-serif;
    font-weight: 650;

    @media (max-width: 1200px) {
        font-size: 50px;
    }
    @media (max-width: 880px) {
        font-size: 40px;
    }
    @media (max-width: 760px) {
        font-size: 34px;
    }
}

.type_team_title_w {
    color: #3E7BD8;
}

.type_team_title_l {
    color: #FFBB61;
}

.type_team_title_s {
    color: #95CC7D;
}

.search_and_filters {
    display: flex;
    flex-wrap: wrap;
}

.search_teams {
    float: right;
    padding-top: 5px;
    padding-right: 30px;

    @media (max-width: 760px) {
        padding-right: 0;
    }
}

.search_teams .search_teams_input {
    height: 35px;
    width: 230px;
    border: none;
    outline: none;
    border-bottom: 3px solid #5A5A5A;
    transition: 200ms ease;
    border-radius: 3px;
    padding-top: 20px;
    font-size: 24px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;

    &:focus {
        border-color: #090909
    }

    @media (max-width: 880px) {
        width: 190px;
    }
    @media (max-width: 760px) {
        width: 90%;
    }
}

.teams_filter {
    padding-top: 15px;
    padding-right: 10px;
}

.teams_filter .teams_filter_list {
    display: block;
    list-style: none;
}

.teams_filter .teams_filter_item {
    padding-bottom: 8px;
}

.teams_filter .teams_filter_link{
    text-decoration: none;
    color: #5A5A5A;
    transition: 300ms ease;
    
    &:hover {
        color: #090909;
    }

    &:checked {
        color: #090909;
    }
}

/*_______________________________*/

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    margin: 50px auto;

    @media (max-width: 760px) {
        justify-content: center;
    }
}

.team_item_card {
    display: block;
    break-inside: avoid;
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 600;
}

.team_item_card_w {
    color: #3E7BD8;
    width: 390px;
    height: auto;
    background-size: cover;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #B2CAEF;

    @media (max-width: 880px) {
        width: 350px;
    }
    @media (max-width: 760px) {
        width: 300px;
    }
}

.team_item_card_l {
    color: #FFBB61;
    width: 390px;
    height: auto;
    background-size: cover;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #FFE4C0;

    @media (max-width: 880px) {
        width: 350px;
    }
    @media (max-width: 760px) {
        width: 300px;
    }
}

.team_item_card_s {
    color: #4F835D;
    width: 390px;
    height: auto;
    background-size: cover;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #D5EBCB;

    @media (max-width: 880px) {
        width: 350px;
    }
    @media (max-width: 760px) {
        width: 300px;
    }
}

.team_item-title {
    word-break: break-all;
    text-align: left;
    padding-top: 13px;
    padding-left: 11px;
    font-size: 35px;
}

.team_item-city {
    word-break: break-all;
    text-align: left;
    padding-top: 2px;
    padding-left: 11px;
    font-size: 35px;
}

.team_item-type {
    text-align: right;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 11px;
}

/*_______________________________*/

.team_page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.team_page .team_owner_data {
    position: relative;
    margin: 20px;
    font-size: 23px;
    font-weight: 500;

    @media (max-width: 880px) {
        margin-right: auto;
        margin-left: auto;
    }
    @media (max-width: 760px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.team_owner_data {
    width: 400px;
    height: 400px;
    border-radius: 10px;

    @media (max-width: 880px) {
        height: 390px;
    }
    @media (max-width: 760px) {
        width: 290px;
        height: 390px;
    }
}

.team_owner_data_w {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(to right, #3E7BD8 30%, white 30%);

    @media (max-width: 880px) {
        height: 390px;
    }
    @media (max-width: 760px) {
        width: 290px;
        height: 390px;
    }
}

.team_owner_data_l {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(to right, #FFBB61 30%, white 30%);

    @media (max-width: 880px) {
        height: 390px;
    }
    @media (max-width: 760px) {
        width: 290px;
        height: 390px;
    }
}

.team_owner_data_s {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(to right, #95CC7D 30%, white 30%);

    @media (max-width: 880px) {
        height: 390px;
    }
    @media (max-width: 760px) {
        width: 290px;
        height: 390px;
    }
}

.team_page .team_owner_data .team_image_w {
    display: block;
    width: 400px;
    height: 345px;
    background-image: url("../../img/work_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

    @media (max-width: 760px) {
        width: 290px;
    }
}

.team_page .team_owner_data .team_image_l {
    display: block;
    width: 400px;
    height: 345px;
    background-image: url("../../img/lifestyle_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

    @media (max-width: 760px) {
        width: 290px;
    }
}

.team_page .team_owner_data .team_image_s {
    display: block;
    width: 400px;
    height: 345px;
    background-image: url("../../img/sport_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

    @media (max-width: 760px) {
        width: 290px;
    }
}

.team_page .team_owner_data .owner_name{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

.team_page .owner_name .owner_name-annotation {
    color: white;
    padding: 10px 10px 15px;

    @media (max-width: 760px) {
        font-size: 16px;
        padding: 8px 8px 10px;
    }
}

.team_page .owner_name .owner_name-link {
    padding: 10px 10px 15px;
    text-decoration: none;
    color: #5A5A5A;
    transition: 0.3s ease;

    &:hover {
        color: #090909;
    }

    @media (max-width: 760px) {
        font-size: 18px;
        padding: 8px 8px 10px;
    }
}

/*_______________________________*/

.team_page .team_info {
    display: block;
    width: 500px;
    margin: 20px;

    @media (max-width: 1200px) {
        width: 450px;
    }
    @media (max-width: 880px) {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

.team_info .team_title_and_type {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}

.team_title_and_type .team_title {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    word-break: break-all;
}

.team_title_and_type .team_type_w {
    position: relative;
    top: -12px;
    left: 12px;
    text-align: left;
    font-family: "Floripa", serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 25px;
    color: #3E7BD8;
}

.team_title_and_type .team_type_l {
    position: relative;
    top: -12px;
    left: 12px;
    text-align: left;
    font-family: "Floripa", serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 25px;
    color: #FFBB61;
}

.team_title_and_type .team_type_s {
    position: relative;
    top: -12px;
    left: 12px;
    text-align: left;
    font-family: "Floripa", serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 25px;
    color: #95CC7D;
}

.team_page .team_info .team_description {
    margin-top: 22px;
    text-align: left;
    word-break: break-all;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.team_page .team_info .team_description p {
    margin: 10px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}

.team_page .team_info .team_deadline_w {
    margin: 35px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #B2CAEF;
    text-align: center;
    transition: 0.15s ease;

    &:hover {
        border: 1px solid #3E7BD8;
    }
}

.team_page .team_info .team_deadline_l {
    margin: 35px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #FFE4C0;
    text-align: center;
    transition: 0.15s ease;

    &:hover {
        border: 1px solid #FFBB61;
    }
}

.team_page .team_info .team_deadline_s {
    margin: 35px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #D5EBCB;
    text-align: center;
    transition: 0.15s ease;

    &:hover {
        border: 1px solid #95CC7D;
    }
}

.team_info .team_tags {
    display: flex;
    font-size: 19px;
    margin-top: 35px;
}

.team_info .team_tag {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

/*_______________________________*/

.team_page .team_data_and_actions {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team_page .team_number_of_members {
    display: block;
    width: 290px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.team_page .team_number_of_members p {
    font-size: 30px;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    color: white;
    background:  linear-gradient(to right, #305897 0%, #c18435 53%, #4F835D 100%);
    border-radius: 10px;
}

.team_page .team_number_of_members_count {
    font-family: "Floripa", sans-serif;
    color: #090909;
    font-size: 40px;
    padding: 15px;
}

.team_page .team_number_of_members_count_w {
    color: #3E7BD8;
}

.team_page .team_number_of_members_count_l {
    color: #FFBB61;
}

.team_page .team_number_of_members_count_s {
    color: #95CC7D;
}

/*_______________________________*/

.team_page .team_members_list_def {
    display: none;
}

.team_page .team_members_list_view {
    display: block;
}

.team_page .team_members_preview {
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    border: 2px solid #5A5A5A;
    color: #5A5A5A;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
        border: 2px solid #090909;
        color: #090909;
    }
}

.team_page .team_members_preview_w {
    display: block;
    text-decoration: none;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    border: 2px solid #B2CAEF;
    transition: 0.3s ease;
    margin-bottom: 10px;

    &:hover {
        border: 2px solid #3E7BD8;
        color: #090909;
    }
}

.team_page .team_members_preview_l {
    display: block;
    text-decoration: none;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    border: 2px solid #FFE4C0;
    transition: 0.3s ease;
    margin-bottom: 10px;

    &:hover {
        border: 2px solid #FFBB61;
        color: #090909;
    }
}

.team_page .team_members_preview_s {
    display: block;
    text-decoration: none;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    border: 2px solid #D5EBCB;
    transition: 0.3s ease;
    margin-bottom: 10px;

    &:hover {
        border: 2px solid #95CC7D;
        color: #090909;
    }
}

.team_members_link {
    display: block;
    width: 280px;
    word-break: break-all;
    color: #5A5A5A;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
        color: #090909;
    }
}

.team_members_button {
    display: block;
    margin-left: 200px;
    padding: 3px;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ff7e7e;
    color: #ff7e7e;
    margin-bottom: 5px;

    &:hover {
        border: 1px solid #cd0b0b;
        color: #cd0b0b;
    }
}

.team_applications_button_take {
    display: inline-block;
    padding: 3px;
    margin-left: 35px;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #D5EBCB;
    color: #63c13a;

    &:hover {
        border: 1px solid #307811;
        color: #307811;
    }
}

.team_applications_button_reject {
    display: inline-block;
    margin-left: 80px;
    padding: 3px;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ff7e7e;
    color: #ff7e7e;

    &:hover {
        border: 1px solid #cd0b0b;
        color: #cd0b0b;
    }
}

/*_______________________________*/

.team_page .team_action_buttons {
    display: block;
    margin: 20px;
    width: auto;
    height: auto;
    text-align: center;
    background:  linear-gradient(to right, #3E7BD8 0%, #FFBB61 53%, #95CC7D 100%);
    border-radius: 10px;
}

.team_page .change_team-button {
    padding: 10px;
    margin: 3px;
    color: #5A5A5A;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    border: none;
    transition: 0.15s ease;

    &:hover {
        color: #090909;
    }
}

.team_page .want_to_team-button {
    display: block;
    margin: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.team_page .want_to_team-button_def {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #5A5A5A;
    color: #090909;
}

.team_page .want_to_team-button_w {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #B2CAEF;
    color: #B2CAEF;
    transition: 0.15s ease;

    &:hover {
        border: 3px solid #3E7BD8;
        color: #3E7BD8;
    }
}

.team_page .want_to_team-button_l {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #FFE4C0;
    color: #FFE4C0;
    transition: 0.15s ease;

    &:hover {
        border: 3px solid #FFBB61;
        color: #FFBB61;
    }
}

.team_page .want_to_team-button_s {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #D5EBCB;
    color: #D5EBCB;
    transition: 0.15s ease;

    &:hover {
        border: 3px solid #95CC7D;
        color: #95CC7D;
    }
}

.team_page .leave_team-button {
    display: block;
    margin: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.leave_team-button_def {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    border: 3px solid #ff7e7e;
    color: #ff7e7e;

    &:hover {
        border: 3px solid #cd0b0b;
        color: #cd0b0b;
    }
}

.want_to_team-modal {
    display: block;
    text-align: center;
}

.want_to_team-title {
    font-size: 21px;
}

.want_to_team-input {
    display: block;
    text-align: center;
    width: auto;
    height: 100px;
    word-break: break-all;
    padding: 10px;
    margin: 10px auto;
    font-size: 15px;
    border-radius: 10px;
}

.want_to_team-send_button {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 40px;
    text-align: center;
    background:  linear-gradient(to right, #3E7BD8 0%, #e89526 53%, #65a34a 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 17px;
    font-weight: 700;
    border: none;

    transition: 0.3s ease;

    &:hover {
        color: white;
    }
}

/*_______________________________*/

.team_form_page {
    width: 100%;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.team_form_page p {
    color: #090909;
    font-family: "Floripa", serif;
    font-size: 39px;
    font-weight: 100;

    @media (max-width: 760px) {
        font-size: 27px;
    }
}

.team_form_page a {
    display: block;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
}

.team_form {
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.15s ease;
}

.team_form_def input, .team_form_def textarea, .team_form_def select {
    border: 1px solid #bdbdbd;
}

.team_form_l input, .team_form_l textarea, .team_form_l select {
    border: 2px solid #FFBB61;
}

.team_form_w input, .team_form_w textarea, .team_form_w select {
    border: 2px solid #3E7BD8;
}

.team_form_s input, .team_form_s textarea, .team_form_s select {
    border: 2px solid #95CC7D;
}

.team_form-input {
    display: block;
    text-align: center;
    width: 320px;
    height: 40px;
    margin: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #090909;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @media (max-width: 760px) {
        width: 280px;
    }
}

.team_form-select_and_number {
    display: flex;
    margin: 15px;
    justify-content: center;
    gap: 30px;

    @media (max-width: 760px) {
        gap: 10px;
    }
}

.team_form-input_numb {
    display: block;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    line-height: 1.5;
    padding: 7px;
    color: #090909;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @media (max-width: 760px) {
        width: 100px;
    }
}

.team_form-select {
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 15px;
}

.team_form-select_l {
    background-color: #FFE4C0;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 15px;
}

.team_form-select_w {
    background-color: #B2CAEF;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 15px;
}

.team_form-select_s {
    background-color: #D5EBCB;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 15px;
}

.team_form-select-op {
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 7px 15px;
}

#deadline {
    border: 2px solid #ff7e7e;
}

.team_form-textarea {
    width: 290px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;

    @media (max-width: 760px) {
        width: 250px;
    }
}

.team_form-input_tags {
    display: flex;
    justify-content: center;

    @media (max-width: 760px) {
        width: 320px;
    }
}

#tags {
    width: 90px;
    margin: auto;

    @media (max-width: 760px) {
        width: 90px;
        margin: 2px;
    }
}

.team_form-button {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 40px;
    text-align: center;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 10px;
    color: #5A5A5A;
    font-size: 17px;
    font-weight: 700;
    border: none;

    transition: 0.3s ease;

    &:hover {
        color: white;
        background:  linear-gradient(to right, #3E7BD8 0%, #e89526 53%, #65a34a 100%);
    }
}
