@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

header a {
    text-decoration: none;
    color: #222;
}

header {
    display: flex;
    justify-content: center;
    height: 130px;
}

header .logo {
    background-image: url("../../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    top: 0;
    width: 242px;
    height: 83px;
    border-radius: 0 0 18px 18px;
    transition: 0.5s ease;

    @media (max-width: 768px) {
        margin-right: 0;
    }
    &:hover {
        background-image: url("../../img/logo_blank.svg");
    }
}

header .nav {
    height: 100%;
    top: 0;
    margin-left: 45px;
    margin-right: 200px;

    @media (max-width: 768px) {
        display: none;
    }
}

header .nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

header .nav-item_r {
    background-color: #B2CAEF;
    width: 140px;
    height: 90px;
    border-radius: 0 0 18px 18px;
    transition: 0.4s ease;

    &:hover {
        background-color: #3E7BD8;
        height: 100px;
    }
}

header .nav-item_l {
    background-color: #FFE4C0;
    width: 160px;
    height: 90px;
    border-radius: 0 0 18px 18px;
    transition: 0.4s ease;

    &:hover {
        background-color: #FFBB61;
        height: 100px;
    }
}

header .nav-item_s {
    background-color: #D5EBCB;
    width: 100px;
    height: 90px;
    border-radius: 0 0 18px 18px;
    transition: 0.4s ease;

    &:hover {
        background-color: #95CC7D;
        height: 100px;
    }
}

header .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 22px;
    background-color: #FFFFFF;
    border-radius: 0 0 18px 18px;
    color: #5A5A5A;
    font-size: 24px;
    transition: 300ms ease;

    &:hover {
        color: black;
    }
}

header .entry {
    display: block;
    width: 287px;
    height: 90px;
    top: 0;
    right: 30px;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 0 0 18px 18px;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.1);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.05));
    transition: 0.5s ease;
}

header .entry:hover {
    background:  linear-gradient(to right, #3E7BD8 0%, #FFBB61 53%, #95CC7D 100%);
}

header .entry:hover .entry-actions {
    width: 280px;
}

header .entry:hover .entry-create_team-link {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    padding: 7px;
}

header .entry-actions {
    display: flex;
    justify-content: center;
    width: 267px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    transition: 0.3s ease;
}

header .entry-create_team-link {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    transition: 0.1s ease;
    color: #5A5A5A;
}

header .entry-actions-name {
    font-size: 24px;
    padding-right: 8px;
}

header .entry-actions-exit {
    display: inline-block;
    padding-left: 8px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/exit.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;

    &:hover {
        background-image: url("../../img/exit_active.png");
    }
}

header .login-link {
    color: #5A5A5A;
    font-size: 24px;
    transition: 0.3s ease;

    &:hover {
        padding: 3px 10px 5px 10px;
        border: 2px solid #D5EBCB;
        border-radius: 10px;
        color: #307811;
        font-weight: 600;
    }
}
