@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

header a {
    text-decoration: none;
    color: #222;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 80px;
    /*    gap настроить*/
}

header .logo {
    position: relative;
    display: block;
    width: 212px;
    height: 32px;
    margin-right: 40px;
    margin-top: 50px;

    @media (max-width: 768px) {
        margin-right: 0;
    }
}

header .logo_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .nav {
    height: 100%;
    margin-top: 50px;

    @media (max-width: 768px) {
        display: none;
    }
}

header .nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 30px;
/*    gap настроить*/
}

header .nav-item {
    height: 100%;

    &:not(:last-child) {
        margin-right: 30px;

        @media (max-width: 1024px) {
            margin-right: 27px;
        }
    }
}

header .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    opacity: 0.6;
    transition: opacity 300ms ease;

    &:hover {
        opacity: 1;
    }
}

header .entry {
    display: block;
    width: 287px;
    height: 90px;
    top: 0;
    right: 30px;
    background:  linear-gradient(to right, #B2CAEF 0%, #FFE4C0 53%, #D5EBCB 100%);
    border-radius: 0 0 18px 18px;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.1);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.05));
    transition: 0.5s ease;
}

header .entry:hover {
    /*    !*TODO не работает плавный переход*!*/
    background:  linear-gradient(to right, #3E7BD8 0%, #FFBB61 53%, #95CC7D 100%);
}

header .entry:hover .entry-actions {
    width: 280px;
}

header .entry:hover .entry-create_team-link {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    padding: 7px;
}

header .entry-actions {
    display: flex;
    justify-content: center;
    width: 267px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    transition: 0.3s ease;
}

header .entry-create_team-link {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
    transition: 0.1s ease;
}

header .entry-actions-name {
    font-size: 24px;
    padding-right: 8px;
}

header .entry-actions-exit {
    display: inline-block;
    padding-left: 8px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/exit.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;

    &:hover {
        background-image: url("../../img/exit_active.png");
    }
}
