@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,414;1,414&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header a {
    text-decoration: none;
    color: #222;
}

header .nav {
    display: flex;
    justify-content: center;
    gap: 180px;
}

header .logo {
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
}

header ul.nav-list {
    margin-top: 20px;
    list-style: none;
}

header ul.nav-list li {
    display: inline;
    margin: 55px;
    font-size: 22px;
    cursor: pointer;
    transition: opacity 300ms ease;
}

header ul.nav-list li:hover {
    opacity: 0.5;
}

header .log-in-main-button, .log-out-main-button {
    display: inline-block;
    color: #e0e0e0;
    margin-top: 5px;
    background: #222;
    width: 150px;
    height: 55px;
    font-size: 21px;
    line-height: 35px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    transition: opacity 300ms ease;
}

header .log-in-main-button:hover, .log-out-main-button:hover {
    opacity: 0.8;
}

header .log-out-main-button {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

header .presentation {
    /*!*background: url("");*! TODO здесь организовать картинку логотипа*/
}

.home-page {
    width: 1280px;
    margin: 50px auto;
    display: inline-block;
    text-align: center;
}

.create-team-button {
    display: inline-block;
    color: #e0e0e0;
    margin-top: 50px;
    background: #222;
    width: 150px;
    height: 55px;
    font-size: 21px;
    line-height: 35px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.form-page {
    width: 1280px;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.some-form {
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.some-input {
    display: block;
    width: 250px;
    height: 40px;
    margin: 15px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-button {
    display: inline-block;
    color: #e0e0e0;
    margin: 20px auto;
    background: #222;
    width: 230px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
}

.form-page a {
    display: block;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
}

.teams_page {
    width: 1280px;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 50px auto;
}

.team_item_card {
    display: block;
    break-inside: avoid;
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
    font-size: 23px;
    font-weight: 500;
    background-size: cover;
    background: url("img/default_image.jpg") no-repeat center center;
    border-radius: 25px;
    border: 1px solid #333;
}

.team_item-title {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

.team_item-description {
    text-align: left;
    margin-top: 90px;
    padding-left: 10px;
}

.team_item-type {
    text-align: right;
    padding-right: 15px;
    margin-top: 30px;
}

.team_page {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.team_page .team_owner_data {
    /*display: flex;*/
    position: relative;
    margin: 20px;
    width: 400px;
    height: 500px;
    font-size: 23px;
    font-weight: 500;
    background-size: cover;
    background: url("img/default_image.jpg") no-repeat top center;
    border-radius: 25px;
    border: 1px solid #333;
}
.team_page .team_owner_data .owner_name{
    position: absolute;
    left: 40px;
    bottom: 80px;
}

.team_page .team_owner_data .owner_contacts{
    position: absolute;
    left: 40px;
    bottom: 10px;
}

.team_page .team_info {
    display: block;
    text-align: center;
    width: 550px;
    margin: 20px;
}

.team_page .team_info .team_title {
    margin: 20px;
    font-size: 45px;
    font-weight: 900;
}

.team_page .team_info .team_type {
    margin: 40px;
    width: 220px;
    font-size: 27px;
    font-weight: 500;
    border-radius: 25px;
    border: 3px solid #555;
}

.team_page .team_info .team_description p {
    margin: 10px;
    text-align: left;
    font-size: 27px;
    font-weight: 500;
}

.team_page .team_info .team_description {
    margin: 20px;
    text-align: left;
}

.team_page .team_info .team_deadline {
    margin: 20px;
    border-radius: 8px;
    border: 3px solid #cc1616;
}

.team_page .team_info .want_to_team-button {
    margin: 40px;
    width: 200px;
    height: 60px;
    float: left;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    background: #ea8f1a;
    border: none;
}

/*.team_page .team_members {*/
/*    display: block;*/
/*    text-align: center;*/
/*    width: 200px;*/
/*    margin: 20px;*/
/*    color: red;*/
/*}*/

/*.team_image {*/
/*    margin: 5px 0;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    background-size: cover;*/
/*    background: url("img/default_image.jpg") no-repeat center center;*/
/*}*/

footer {
    text-align: center;
    margin-top: 100px;
}
