@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@font-face {
    font-family: 'Floripa';
    src:
        local("Floripa Regular"),
        url('./fonts/Floripa.ttf') format('truetype'),
        url('./fonts/Floripa.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
    color: #090909;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.home-page {
    width: 100%;
    margin: 50px auto;
    display: inline-block;
    text-align: center;
}

.form-page {
    width: 100%;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.some-form {
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.some-input {
    display: block;
    width: 250px;
    height: 40px;
    margin: 15px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #090909;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-page a {
    display: block;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    .wrapper {
        width: 970px;
    }
}

@media (max-width: 1020px) {
    .wrapper {
        width: 870px;
    }
}

@media (max-width: 880px) {
    .wrapper {
        width: 750px;
    }
}

@media (max-width: 760px) {
    .wrapper {
        max-width: 650px;
    }
}

@media (max-width: 620px) {
    .wrapper {
        max-width: 550px;
    }
}

@media (max-width: 560px) {
    .wrapper {
        max-width: 440px;
    }
}

@media (max-width: 450px) {
    .wrapper {
        max-width: 380px;
    }
}

@media (max-width: 390px) {
    .wrapper {
        max-width: 320px;
    }
}
